<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target xsi:type="ColoredConsole" name="console"
            layout="[${longdate}] [${threadid}] [${level:uppercase=true}] [${scopeproperty:TestName}] - ${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" name="file"
            fileName="${basedir}/logs/test-${shortdate}.log"
            layout="[${longdate}] [${threadid}] [${level:uppercase=true}] [${scopeproperty:TestName}] - ${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archives/test-${shortdate}.{#}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            concurrentWrites="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,file" />
  </rules>
</nlog>


